
#menulist{
  background-color: black;
  
}
.nav-item:hover {
  background: linear-gradient(to top, #306d4f, #060707);
}
.nav-link a{
  display: block;
  color: white;
  text-decoration: none;
  font-size: min(15px, 1.5vw);
  /* padding-left: 5px; */
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
}
nav{
  width: 950px;
  margin: 0px auto; 
}
.nav-item{
  border-right: 2px dotted white;
  
}
.nav-link a:nth-child(2){
  font-size: 10px;
  color: green;
  padding-top: 0;
}


